@import "bootstrap.min.css"

body
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace


//@media (min-width: 768px)
//
//.col-md-6
//  flex: 0 0 49.5%
//  max-width: 50%
//
//@media (min-width: 992px)
//
//.col-lg-6
//  flex: 0 0 49.5%
//  max-width: 50%
//
//@media (min-width: 1200px)
//
//.col-xl-4
//  flex: 0 0 32.633333%
//  max-width: 33.333333%


//*
//  scrollbar-width: thin
//  scrollbar-color: blue orange


/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar
  width: 8px


*::-webkit-scrollbar-track
  background: white


*::-webkit-scrollbar-thumb
  background-color: #343a40
  border-radius: 20px
  border: 1px solid azure
